/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-top: 0;
}

.qr-code {
    margin-bottom: 20px;
}

.qr-code img {
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="file"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a{
    color: #6a7886; /* Blue color */
    text-decoration: none;
    /* font-weight: bold; */
    cursor: pointer;
    padding-bottom: 15px;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .form-container {
        width: 90%;
    }
}
