*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; 
}   


 /* ------------------------------------------------------------------------- 
  Scroll to top
--------------------------------------------------------------------------- */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #149ddd;
    color: white;
    cursor: pointer;
    padding: 3px 3px; 
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }

/* ------------------------------------------------------------------------- 
   Header
--------------------------------------------------------------------------- */

#header{
    position: relative;
    width: 100%;
    height: 750px;
}

#header .bgimg img{
    position: absolute;
    width: 100%;
    height: 750px;
    object-fit: cover;
    z-index: 1;
}
#header .bgcolor{
    position: absolute;
    /* background-color: #0057a8;  */
    background-color: #348de0; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #1e85e6 , #01388b);
    width: 100%;
    height: 750px;
    z-index: 2;
    opacity: 0.8;
}

#header .navbar {
    overflow: hidden;
    z-index: 3;
    position: relative;
}

#header .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    /* padding: 50px 20px; */
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    text-decoration: none;
    font-weight: 600;
}

#header .navbar .logo {
    float: left;
    margin: 0px 30% 0px 20%;
}

#header .navbar .logo img {
    margin-top: -30px;
    width: 100px;
    color: white;
}

/* Dropdown Menu Styles */
#header .navbar .dropdown {
    float: left;
    overflow: hidden;
}

#header .navbar .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 50px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#header .navbar .dropdown-content {
    display:none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 80px;
}

#header .navbar .dropdown-content a{
    float:none;
    color: #173b6c;
    padding: 12px 16px; 
    text-decoration: none;
    display: block;
    text-align: left;
}

#header .navbar .dropdown-content a:hover {
    background-color: #ddd;
}

#header .navbar .dropdown:hover .dropdown-content {
    display: block;
}


#header .head-content{
    padding: 10px;
    align-self:center;
    position: relative;
    color: white;
    /* margin: 10% 0% 0% 34%; */
    margin: auto;
    width: 730px;
    z-index: 3;
    /* max-width: 600px; */
    text-align: center;
}

#header .head-content h1{ 
    padding: 30px;
    font-size: 50px;
}

#header .head-content p{
    font-size: 20px;
}

#header .head-content button{
    margin: 50px;
    background-color: white;
    color: #0274BE;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 15px;
    border: none;
}

#header .head-content button:hover{
    background-color: #d8ecfa;
}

/* ------------------------------------------------------------------------- 
   categories container
--------------------------------------------------------------------------- */

.categories-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    z-index: 3;
    /* margin: -100px 200px; */
}

.categories-container > div {
    background-color: white;
    border: 0px solid black;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
    color: #2f3f50;
    transition: background-color 0.3s, color 0.3s;
    /* margin-le: 20px; */
    z-index: 4;
    margin: -100px 50px 0px 50px;
}

.categories-container > div > i{
    color: #0057a8;
    font-size: 300%;
}

.categories-container > div > h4{
    padding: 10px;
}

.categories-container > div:hover{
    background-color: #0057a8;
    color: white;
}

.categories-container > div:hover > i{
    color: white;
}

#about{
    /* background-color: #0274BE; */
    margin-top: 20px;
}

/* ------------------------------------------------------------------------- 
   About
--------------------------------------------------------------------------- */
#about{
    background-image: linear-gradient(to bottom right, #0c8aff, #7ccbff);
    
    
}

#about h1{
    padding: 10px;
    padding-top: 10%;
    text-align: center;
    font-size: 40px;
}

#about p{
    /* margin: 10%; */
    padding: 90px 150px;
    font-size: 25px;
    justify-content: center;
}
    .mySlides {
    display: none;
    }
    img {
    vertical-align: middle;
    }
    
    /* Slideshow container */
    #about .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: 90px auto;
    }

    #about .slideshow-container .slide-innercontainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 20px;
        /* border: 1px solid #ccc; */
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        max-width: 100%; /* adjust as needed */
        height: 500px;
        margin: 20px auto;
    }

    #about .slideshow-container .slide-innercontainer img{
        max-width: 500px;
        height: 400px;
        margin-right: 20px;
        border-radius: 20px;
    }

    #about .slideshow-container .slide-innercontainer .slide-content{
        flex: 1;
        text-align: left;
    }

    #about .slideshow-container .slide-innercontainer .slide-content h2{
        color: #0274BE;
    }

    #about .slideshow-container .slide-innercontainer .slide-content p{
        padding: 20px;
        color: #173b6c;
    }

    #about .slideshow-container .slide-innercontainer .slide-content i{
        color: #1e85e6;
        padding: 10px;
    }

    /* The dots/bullets/indicators */
    #about .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    #about .active {
      background-color: #717171;
    }
    
    /* Fading animation */
    #about .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

/* ------------------------------------------------------------------------- 
   Courses
--------------------------------------------------------------------------- */

#courses{
    margin-top: 5%;
    /* background-color: aqua; */
    text-align: center;
    padding: 50px;
}
#courses h1{
    text-align: center;
    font-size: 40px;
}

#courses .courses{
    display: flex;
    margin: 50px;
}

#courses .courses .card img{
    width: 300px;
    height: 200px;
}


#courses .courses .card {
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    /* border: 1px solid black; */
  }
  
  #courses .courses .card h2{
    text-align: center;
    color: #0057a8;
    padding: 20px 0px 0px 0px;
  }

  #courses .courses .card .star-icon{
    color: goldenrod;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  #courses .courses .card .title {
    color: grey;
    font-size: 18px;
    padding-top: 10px;
  }
  
  #courses .courses .card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #0274BE;
    text-align: center;
    cursor: pointer;
    /* width: 100%; */
    font-size: 18px;
    border-radius: 50px;
    margin: 20px;
  }
  
  #courses .courses .card button:hover{
    opacity: 0.5;
  }

  /* #courses .courses .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  } */


/* ------------------------------------------------------------------------- 
   contact
--------------------------------------------------------------------------- */
  #contact h1{
    padding: 10px;
    text-align: center;
    font-size: 40px;
  }

#contact .row .info {
    padding: 30px;
    margin: 90px 0px 0px 300px;
    /* background: #fff; */
    width: 30%;
    /* box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12); */
  }
  
  #contact .row .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  #contact .row .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
  }
  
  #contact .row .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
  }
  
  #contact .row{
    display: flex;
  }


  #contact .row table{
    /* border: #040b14 solid; */
    /* background-color: red; */
    /* box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12); */
    padding: 30px;
    margin: 50px 0px 0px 0px;
  }
  #contact .row table p{
    text-align: center;
    color: #173b6c;
    padding-bottom: 30px;
    font-size: 20px;
  }
  #contact .row table{
    font-size: large;
    color: #173b6c;
    padding: 20px;
   
  }

  #contact .row table input, textarea{
    height: 30px;
    width: 320px;
    padding: 10px;   
    border-width: 1px;
    border-style:ridge;
    resize: none;
  }

  #contact .row table .right, textarea{
    margin: 20px;
  }

  #contact .row table button {
    justify-content: center;
    background-color:#149ddd;
    padding:15px 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin-left: 35%;
    border-width: 1px;
    color: white;
    margin-top: 20px;
  }

  #contact .row table button:hover{
    justify-content: center;
    background-color:#20b7fd;
    padding:15px 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin-left: 40%;
    border-width: 1px;
  }

/* ------------------------------------------------------------------------- 
   Footer Container
--------------------------------------------------------------------------- */
  #footer-container{
    display: flex;
    background-color: #348de0;
    font-family: "Questrial", sans-serif;
    border-width: 0px;
    margin-top: 150px;
    color: white;
}

#footer-container div{
    margin: 20px 10px 10px 200px;
}

#footer-container div img{
    width: 50px;
    height: 50px;
}

#footer-container div .form-button{
    background-color: white;
    color:#0274BE;
    font-size: 90%;
    border-radius: 40px;
    padding: 20px 60px;
    margin-top: 10px;
    border: none;
}

#footer-container div .form-button:hover{
    background-color: #d8ecfa;
    color:#082997;
    cursor: pointer;
}

#footer-container .footer-head{
    font-size: 20px;
}

#footer-container div p{
    font-size: 16px;
    padding: 10px;
    line-height: 2;
}

#footer-container div p a{
    text-decoration: none;
    color: white;
}

#footer-container i{
    font-size: 25px;
    padding: 0px 30px 0px 0px;
}


/* ------------------------------------------------------------------------- 
   Responsive Styles 
--------------------------------------------------------------------------- */
/* Responsive Styles */
@media (max-width: 1024px) {
    .categories-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    #header .head-content {
        margin: 30% 5% 0 5%;
        text-align: center;
    }

    .categories-container {
        grid-template-columns: 1fr;
        /* margin: 20px 5%; */
    }

    .categories-container > div {
        padding: 30px;
    }

    #header {
        height: 500px;
    }

    #header .bgimg img, #header .bgcolor {
        height: 500px;
    }
}

@media (max-width: 480px) {
    #header .head-content {
        margin: 40% 5% 0 5%;
    }

    .categories-container > div > i{
        font-size: 200%;
    }

    .categories-container > div > h4{
        padding: 5px;
    }

    .categories-container > div {
        padding: 20px;
    }
}











