body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  margin-top: 50px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.form-wrapper {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  animation: fadeIn 0.5s ease;
}

.form-wrapper h1{
  text-align: center;
  /* text-decoration: underline #4facfe;
  text-decoration-style: double; */
  padding-bottom: 30px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-group {
  flex: 1;
  margin-right: 30px;
}

.form-group:last-child {
  margin-right: 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

input, select {
  width: 100%;
  padding: 15px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

input:focus, select:focus {
  outline: none;
  /* box-shadow: 0 0 10px rgba(79, 172, 254, 0.5); */
}

.gender-group {
  display: flex;
  align-items: center;
}

.gender-group label {
  margin-right: 20px;
}

button {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(79, 172, 254, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(79, 172, 254, 0.6);
}

.error-message {
  color: #ff4d4d;
  font-weight: bold;
  margin-top: 10px;
}


form p a{
  text-decoration: none;
  color: #999;
}
form p a:hover{
  text-decoration: underline;
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




/* Responsive Styles */
@media (max-width: 768px) {
.form-wrapper {
padding: 20px;
}

.form-row {
flex-direction: column;
margin-bottom: 20px;
}

.form-group {
margin-right: 0;
margin-bottom: 20px;
}

.form-group:last-child {
margin-bottom: 0;
}

input, select {
padding: 12px;
}

button {
padding: 12px 24px;
}
}